<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Policy Approval</h6>
        <div class="row">
          <div class="col-md-6">
           
            <select style="width: 20%;" (change)="onTableSizeChange($event)" class="form-select"
              aria-label="Default select example">
              <option *ngFor="let size of tableSizes">
                {{size}}
              </option> 
            </select>
            <label for="textarea-field" id="account_status">Count entites:</label>
          </div>
          <div class="col-md-6"> <select style="width: 20%;" (change)="selectStatus($event)" class="form-select"
              aria-label="Default select example">
              <option value="0" selected>All</option>
              <option value="1">Wainting For Approval</option>
              <option value="2">Refuse</option>
              <option value="3">Already Accepted</option>
            </select>
            <label for="textarea-field" id="account_status">Status:</label>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <ng-container *ngIf="resultShowData !=null">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Request Id
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Policy Id
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status
                  </th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of resultShowData | paginate: 
                {
                  itemsPerPage :tableSize,
                  currentPage : page,
                  totalItems:count
                }">
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{i.id}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{i.requestId}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{i.policyId}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{i.date}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{i.amount}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{i.status}}</span>
                  </td>
                  <td class="align-middle">
                    <button type="button" class="btn btn-primary" (click)="alreadyAccepted(i.id)"
                      style="margin-right: 5px;"> <i class="pi pi-check"></i>Accepted</button>
                    <button type="button" class="btn btn-secondary" (click)="refuse(i.id)"><i
                        class="pi pi-times"></i>Refused</button><br>
                    <button type="button" class="btn btn-info" style="margin-right: 5px;"><i
                        class="pi pi-share-alt"></i>Detail</button>
                    <button type="button" class="btn btn-danger" (click)="delete(i.id)"><i class="pi pi-times"></i>Delete</button>

                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
         
        </div>
      </div>
    </div>
  </div>
  <pagination-controls previousLabel="Prev" nextLabel="Next"
    (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
<p-toast></p-toast>