<link href="/assets/admin/css/companyDetailsStyle.css" rel="stylesheet" type="text/scss">
<div class="container">

    <div class="col-lg-8 card m-5 p-5" style="position: absolute;
                        right: 182px; background-color:rgb(167, 216, 224)">
        <h1 style="text-align:center; font-size:28px; padding-bottom:10px">Add Company Detail</h1>
        <ng-container *ngIf="company !=null">
        <form [formGroup]="formAdd" (ngSubmit)="save()">
            <input type="hidden" readonly formControlName="companyId">
            <div class="form-group input-material">
                <div *ngIf="formAdd.get('companyName').touched">
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('required',['companyName'])">Company Name
                        shouldn't be empty</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('minlength',['companyName'])">Company Name
                        shouldn't be under 5 char</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('maxlength',['companyName'])">Company Name
                        shouldn't be over 50 char</span>
                </div>
                <input type="text" class="form-control" formControlName="companyName">
                <label>Company Name</label>
            </div>
            <div class="form-group input-material">
                <div *ngIf="formAdd.get('address').touched">
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('required',['address'])">Address
                        shouldn't be empty</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('minlength',['address'])">Address
                        shouldn't be under 5 char</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('maxlength',['address'])">Address
                        shouldn't be over 150 char</span>

                </div>
                <input type="text" class="form-control" id="email-field" formControlName="address">
                <label for="email-field">Address</label>
            </div>
            <div class="form-group input-material">
                <div *ngIf="formAdd.get('phone').touched">
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('required',['phone'])">Phone
                        shouldn't be empty</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('minlength',['phone'])">Phone
                        shouldn't be under 8 char</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('maxlength',['phone'])">Phone
                        shouldn't be over 20 char</span>
                    <span class="text-danger" style="font-size:12px" *ngIf="formAdd.hasError('pattern',['phone'])">Phone
                        is not valid, Phone can only be number</span>

                </div>

                <input type="text" class="form-control" id="email-field" formControlName="phone">
                <label for="textarea-field">Phone</label>
            </div>
            <div class="form-group input-material">
                <div *ngIf="formAdd.get('companyUrl').touched">
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('required',['companyUrl'])">Company Url
                        shouldn't be empty</span>
                    <span class="text-danger" style="font-size:12px"
                        *ngIf="formAdd.hasError('pattern',['companyUrl'])">Company Url
                        is not valid. (Ex: http://abc.org or https://abc.org)</span>


                </div>
                <input type="text" class="form-control" id="email-field" formControlName="companyUrl">
                <label for="textarea-field">Company Url</label>
            </div>
            <div class="text-center">
                <p-toast></p-toast>
                <button type="submit" pButton pRipple  
                    class="btn btn-primary" [disabled]="formAdd.invalid">Submit</button>
            </div>
        </form>
    </ng-container>
    </div>
</div>