<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Policy</h6>
          <h6 class="btn btn-success">
            <i class="pi pi-plus" style="font-size: 1rem"></i> <a [routerLink]="['/admin/addPolicy']">Add</a>
          </h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <ng-container *ngIf="policies !=null">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Policy ID</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Policy Name
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Policy Description</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Emi</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Company Id</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Company Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Medicalid</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let policy of policies">
  
                  <td>
                    <p class="text-xs font-weight-bold mb-0" style="margin-left: 40px;">{{policy.policyId}}</p>
  
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{policy.policyName}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{policy.policyDesc}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{policy.amount}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge badge-sm bg-gradient-success">{{policy.emi}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge badge-sm bg-gradient-success">{{policy.companyId}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge badge-sm bg-gradient-success">{{policy.companyName}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge badge-sm bg-gradient-success">{{policy.medicalid}}</span>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-info" style="margin-right:5px" (click)="update(policy.policyId)"><i class="pi pi-cog"
                        style="font-size: 1rem"></i> Edit</button>
                    <button class="btn btn-danger" (click)="delete(policy.policyId)" type="submit" pButton pRipple ><i class="pi pi-trash"
                        style="font-size: 1rem"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
            <p-toast></p-toast>
          </div>
        </div>
      </div>
    </div>
  </div>