
<section>
  <div class="form-box">
    <div class="form-value">
      <form [formGroup]="formLogin" method="post" (ngSubmit)="login()">
        <h2>Login</h2>
        <div class="inputbox">
          <div *ngIf="formLogin.get('username').touched">
            <span class="text-danger" style="font-size:12px"
              *ngIf="formLogin.hasError('required',['username'])">Username
              shouldn't be empty</span>
          </div>
          
          <input type="text" required formControlName="username">
          <label for="">Username</label>
        </div>
        <div class="inputbox">
          <div *ngIf="formLogin.get('password').touched">
            <span class="text-danger" style="font-size:12px"
              *ngIf="formLogin.hasError('required',['password'])">Password
              shouldn't be empty</span>
          </div>
         
          <input type="password" required formControlName="password">
          <label for="">Password</label>
        </div>
        <button [disabled]="formLogin.invalid">Log in</button>
        <div class="register">
          <p class="mb-4 text-sm mx-auto">
            Have you forgotten your password?
            <a routerLink="/forgot-password" class="text-primary text-gradient font-weight-bold">Forgot
              password</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
<p-toast></p-toast>